.card{
    border:0px ;
    background: #fff;
    padding: 50px 30px 200px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.418);
    box-sizing: content-box ;
    width: 15cm;
border-radius: 5mm;

    
}
h1{
    color: darkblue;
font-family: fantasy;
font-style: oblique;
font-size: 20mm;
    text-align: center;
}
.form-control{
    width: 5cm;
}