h1{
    font-size: 2cm;
    font-family: fantasy;
    font-style: oblique;
color: darkblue;
width: 9cm;
text-align: center;
padding-left: 3cm;
}
.custom-select{
    width: 6cm;
    height: 1cm;
}
.card{
    border:0px ;
    background: #fff;
    padding: 50px 30px 200px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.418);
    box-sizing: content-box;
    width: 17cm;
    height: 8cm;
border-radius: 5mm;
text-align: center;
    
}
.btn .btn-primary{
    font-size: 20mm;
    color:darkblue;
width: 70mm;
height: 4cm;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.text{
    color: darkblue;
    font-size: 1cm;
    font-family: fantasy;
    font-style: oblique;
}
.custom-select{
    color: darkgreen;
    font-style: oblique;
    font-size: 6mm;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}