.container {
    padding-top: 5%;
  }
  .container-fluid {
    padding-top: 10px;
  
  }
  .container-check{
    padding-top:20px;
    padding-left: 200px;
  }

 
  h4{
    color:red;
    size: 0px;

  }


a{
    
    margin-left:120px ;
    margin-right: 120px;
}