<div class="container">
<div class="panel panel-info">
        <div class="panel-heading">
          
         <a  href="/userpage/mybookings#yourbookings " (click)="clickedBookingLink()"><b>My Bookings</b></a>
        <a  href="/userpage/mybookings#cancelledbookings " (click)="clickedCancelLink()"><b>Cancelled Bookings</b></a>
         <a  href="/userpage/mybookings#completedbookings " (click)="clickedCompletedLink()"><b>Completed Bookings</b></a>
       
       </div>
  </div> 
</div>


<!----Your Bookings-->
<div class="container-fluid" *ngIf="clickedBooking===true" >
  <div class="container-check" *ngIf="bookings.length===0 ; else show">
    <h4> No  Bookings  Found </h4>
   </div>
  <ng-template #show>
  <app-yourbookings (statusChange)="reloaddata()"  [booking]="booking"  *ngFor="let booking of bookings" ></app-yourbookings>
  </ng-template>
</div>     
<!----/Your Bookings-->


<!-----Cancelled Bookings-->
<div class="container-fluid" *ngIf="clickedCancel===true" >
  <div class="container-check" *ngIf="cancelledbookings.length===0 ; else show">
   <h4> No Bookings Found </h4>
  </div>
 <ng-template #show>
   <app-cancelledbookings  [booking]="booking"  *ngFor="let booking of cancelledbookings" ></app-cancelledbookings>
  </ng-template>
</div>
<!---/cancelled Bookings-->

<!-----Completed Bookings-->
<div class="container-fluid" *ngIf="clickedCompleted===true" >
  <div class="container-check" *ngIf="completedbookings.length===0 ; else show">
    <h4> No Bookings Found </h4>
   </div>
  <ng-template #show>
   <app-completedbookings  [booking]="booking"  *ngFor="let booking of completedbookings" ></app-completedbookings>
   </ng-template>
  </div>
  <!---/completed Bookings-->





 