<div class="container">
    <br><br><br><br><br>
  
    <a class="section" href="#index.html"></a>
    <div class="card"> 
     <h1><u> Reschdule Page</u></h1>
     <br><br>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01"><h2>REASON&nbsp;&nbsp;</h2></label>
        
        <select class="custom-select" id="inputGroupSelect01">
          <option selected>Choose...</option>
          <option value="1">Tutor Asked</option>
          <option value="2">Customer's reason</option>
          
        </select>
        
      </div>
      </div></div>
