<div class="container">
    <br><br><br><br><br>
  
    <a class="section" href="#index.html"></a>
    <div class="card"> 
      <br>
     <h1><u> ReschdulePage</u></h1>
     <br><br>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01"><h2>REASON&nbsp;&nbsp;</h2></label>
        
        <select class="custom-select" id="inputGroupSelect01">
          <option selected>Choose...</option>
          <option value="1">Tutor Asked</option>
          <option value="2">Customer's reason</option>
        </select>
        &nbsp;&nbsp;  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Reschdule
          </button>
      
        <div class="collapse" id="collapseExample">  <br>
          <br>
    <div class="card card-body">       &nbsp;&nbsp;  &nbsp;&nbsp; &nbsp;&nbsp;  &nbsp;&nbsp; 
            <br><br><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button  class="btn btn-success" type="button" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1" >Today - 16th March</button> 
          &nbsp;&nbsp;  &nbsp;&nbsp;    <button class="btn btn-success"type="button" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">Tomorrow - 17th March </button>
          &nbsp;&nbsp;  &nbsp;&nbsp;     <button  class="btn btn-success"type="button" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1 ">Wednesday-18th March</button> 
          &nbsp;&nbsp;  &nbsp;&nbsp;   <button  class="btn btn-success"type="button" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1 ">Thursday- 19th march</button>
        </div>
        </div>
        <br>
        <div class="collapse" id="collapseExample1">
          &nbsp;&nbsp;  &nbsp;&nbsp; &nbsp;&nbsp;  &nbsp;&nbsp;<div class="card card-body"><br><br>
          &nbsp;&nbsp; &nbsp;&nbsp;<button  class="btn btn-success"data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">09:00-10:00am</button> 
          &nbsp;&nbsp;  &nbsp;&nbsp;    <button class="btn btn-success"data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">10:00-11:00am </button>
          &nbsp;&nbsp;  &nbsp;&nbsp;     <button  class="btn btn-success"data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2" >11:00-12:00am</button> 
          &nbsp;&nbsp;  &nbsp;&nbsp;   <button  class="btn btn-success" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">12:00-1:00pm</button>
          &nbsp;&nbsp;&nbsp;&nbsp;<button  class="btn btn-success"data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2" >01:00-02:00am</button> 
          &nbsp;&nbsp;  &nbsp;&nbsp;    <button class="btn btn-success" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">02:00-03:00am </button>
          <br><br>&nbsp;&nbsp;  &nbsp;&nbsp;     <button  class="btn btn-success"data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2" >03:00-04:00am</button> 
          &nbsp;&nbsp;  &nbsp;&nbsp;   <button  class="btn btn-success"data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2" >05:00-06:00pm</button>
          &nbsp;&nbsp;&nbsp;&nbsp;<button  class="btn btn-success"data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2" >06:00-07:00am</button> 
          &nbsp;&nbsp;  &nbsp;&nbsp;    <button class="btn btn-success"data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2" >07:00-08:00am </button>
          &nbsp;&nbsp;  &nbsp;&nbsp;     <button  class="btn btn-success"data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2" >08:00-09:00am</button> 
       </div> <br><br><br>
        <div class="col">
          <div class="collapse multi-collapse" id="multiCollapseExample2">
            
            <button type="submit" class="btn btn-primary"data-toggle="collapse" data-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample3">Submit</button>
           
            <div class="col">
              <div class="collapse multi-collapse" id="multiCollapseExample3">
                
            <br><br>
              <i class="fa fa-check-square-o fa-5x" aria-hidden="true"></i>
             <br><div class="text"> Reschdule Successfully <br>
              Shortely  Tutor Will Asign  To You</div>
            </div>
          </div>
          </div>
        
        </div>
        </div>
        </div>
       
      </div>
      </div></div>