h1{
    color: blue;
    padding-left: 9cm;
    width: 9cm;
    text-align: center;
    font-family: fantasy;
    font-style: oblique;
    font-size: 3cm;
    }
    .custom-select{
        width: 6cm;
        height: 1cm;
    }
    .card{
        border:0px ;
        background: #fff;
        
        box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.418);
        box-sizing: content-box;
        width: 30cm;
        height: 27cm;
    border-radius: 5mm;
    text-align: center;
        
    }
.p{
    color: cyan;
    size: 5cm;
}
.card .card-body{
    width: 25cm;
    height: 4cm;  
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.418);
    box-sizing: content-box;
 box-decoration-break: slice;
 
}
.text{
    color: darkblue;
    font-size: 1cm;
    font-family: fantasy;
    font-style: oblique;
}
.i{
    color: darkblue;
}