<div class="container">

   
     <a class="container" href="#index.html"></a>
<div class="container">

    <h2>Available Teachers</h2>
    
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Tutor Details</th>
          <th>NO. of session Completed</th>
          <th>Average Rating</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>ID-123 &nbsp;&nbsp; Name-pia&nbsp;&nbsp; Locality-bndm</td>
          <td>5</td>
          <td>4</td>
          <td> <button type="submit" class="btn btn-success">Booking Details</button></td>
        </tr>
        <tr>
          <td>ID-123&nbsp;&nbsp; Name-pia &nbsp;&nbsp;Locality-bndm</td>
          <td>4</td>
          <td>3</td>
          <td> <button type="submit" class="btn btn-success">Booking Details</button></td>
        </tr>
        <tr>
          <td>ID-123 &nbsp;&nbsp;Name-pia &nbsp;&nbsp; Locality-bndm</td>
    
          <td>5</td>
          <td>2</td>
          <td> <button type="submit" class="btn btn-success">Booking Details</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  
</div>