

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
    <a class="navbar-brand" href="index.html">BookMe<span>Tutor<br><br></span>Tutor<span>Page</span></a>
    </div>
    <ul class="nav navbar-nav navbar-right">
  
      </ul>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
      <li class="nav-item dropdown">
      
        <a class="nav-link dropdown-toggle" data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars fa-3x" aria-hidden="true"></i></a>
        <div class="dropdown-menu" >
          <a class="dropdown-item" href="tutor-page#Profile">Profile</a>
          <div role="separator" class="dropdown-divider"></div>
          <a class="dropdown-item" href="/#Logout">Logout</a>
         
        </div>
     
      </li>
    
    
    </ul>
    </div>
   
    </div>
  </nav>
 



