<br><br><br><br>
<h3><b>My Profile</b></h3><br>
<div class="container">
   <b>Name:</b> <p> {{this.tutordetails.first_name}} {{this.tutordetails.last_name}}</p> <br>
   <b>Email:</b>  <p> {{this.tutordetails.email}}</p> <br>
   <b>Gender: </b> <p> {{this.tutordetails.gender}}</p> <br>
   <b> Qualification:</b> <p> {{this.tutordetails.qualification}}</p><br>
   <b> Address:</b> <p> {{this.tutordetails.line1}} {{this.tutordetails.line2}} {{this.tutordetails.city}} {{this.tutordetails.pincode}}</p><br>
  

</div>